body {
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 100dvh;
    justify-content: space-between;
    background-image: linear-gradient(to top left, #2b4d58, #39998e);
    background-color: #2b4d58;
    background-attachment: fixed;
    color: white;
}

#mainBody {
    flex-grow: 1;
    padding: 10px;
}