body {
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 100dvh;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: 'Open Sans';
}

a {
    color: #39998A;
    text-decoration: none;
}

#mainBody {
    flex-grow: 1;
    padding: 10px;
    font-family: 'system-ui','Bitter';
    font-size: large;
}