body {
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 100dvh;
    justify-content: space-between;
    background-color: grey;
    color: black;
    font-family: 'Roboto Slab';
}

#mainBody {
    flex-grow: 1;
    padding: 10px;
    background-color: white;
}