---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page not found!">
    <h1 style="text-align: center;">PAGE NOT FOUND!</h1>
    <style is:global>
        #mainBody {
            flex-grow: 0;
        }
    </style>
</BaseLayout>
