---
import BaseLayout from "../layouts/BaseLayout.astro"
import Breadcrumbs from "../components/Breadcrumbs.astro"
---

<BaseLayout title="Freelance">
    <Breadcrumbs/>
    <p>I build custom static websites on demand as per your custom designs.</p>
    <p>You can send me a rough idea of the website you need and I will build accordingly.</p>
</BaseLayout>