---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Govind">
    <h2>About me</h2>
    <p>I am a Software Developer.</p>
    <p>I do freelance Web Development. For more information: <a href="/freelance">Freelance</a></p>
</BaseLayout>

<style>
   
</style>
