---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Govind">
    <p style="font-size: 50px; text-align: center;">
        <span
            style="background: linear-gradient(to right, #76ffc6, #0051ca); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"
            >I'm a
        </span>
        <em>Software Developer</em>.
    </p>
</BaseLayout>

<style></style>
