---
import BaseLayout from "../layouts/BaseLayout.astro"
import Breadcrumbs from "../components/Breadcrumbs.astro"
---

<BaseLayout title="My Projects">
    <Breadcrumbs/>
    <p>All the projects I have done so far!</p>
    <ul></ul>
</BaseLayout>