---
const urlsection = Astro.url.pathname.split("/");
const dirs: string[] = [];
urlsection.forEach((element) => {
    if (element != "") {
        dirs.push(element);
    }
});
const urls: string[] = [];
dirs.forEach((element, index) => {
    if (urls.length != 0) {
        urls.push(urls[index - 1] + "/" + dirs[index]);
    } else {
        urls.push("/" + dirs[0]);
    }
});
const { title } = Astro.props;
if (title) {
    dirs[dirs.length - 1] = String(title);
}
---

<style>
    a:hover {
        text-decoration: underline;
    }
</style>
<div id="parent">
    <p>
        <a href="/">Home</a>
        {
            dirs.map((dir, i) => (
                <span>
                    &gt;{" "}
                    <a href={urls[i]}>{dir[0].toUpperCase() + dir.slice(1)}</a>{" "}
                </span>
            ))
        }
    </p>
</div>
