---

---

<div id="footer">
    <span>👻</span>
</div>

<style>
    #footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: #ffdc7c 3px solid;
        height: 40px;
    }
</style>
