---

---

<script>
    const button = document.getElementById("hrtbutton");
    const audio = document.querySelector("audio");
    let count = 0;

    button.addEventListener("click", () => {
        if (count < 5) {
            count++;
        } else {
            audio.src = "/audio/lol" + Math.floor(Math.random() * 6) + ".mp3";
            audio.play();
            count++;
        }
    });
</script>

<div id="footer">
    <audio id="heuhh"></audio>
    <span style="font-style: italic;">Made with <span id="hrtbutton">❤️</span></span>
</div>

<style>
    #footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: #ffdc7c 3px solid;
        height: 40px;
    }
</style>
