---

---

<div id="footer">
    <p>Footer</p>
    <p>Test</p>
</div>

<style>
    #footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        background-image: linear-gradient(to right, #2b4d58, #39998e);
        border-top: #ffdc7c 3px solid;
    }
</style>
