---

---

<div id="footer">
    <p>Made with ❤️</p>
</div>

<style>
    #footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        background-color: rgb(0, 0, 0);
        border-top: #ffdc7c 3px solid;
        color: white;
        height: 40px;
    }
</style>
