---

---

<div id="footer">
    <p>Footer</p>
    <p>Test</p>
</div>

<style>
    #footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        background-color: grey;
        border-top: #ffdc7c 3px solid;
    }
</style>
