---

---

<div id="footer">
    <p>&copy;Govind Sanal 2024</p>
</div>

<style>
    #footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        background-color: grey;
        border-top: #ffdc7c 3px solid;
        color: white;
        height: 55px;
    }
</style>
