---

---

<div id="header">
    <div id="left">
        <a href="/">Govind</a>
    </div>
    <div id="right">
        <a href="/contact">Contact</a>
        <a href="/projects">Projects</a>
    </div>
</div>

<style>
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Oswald';
        border-bottom: dashed 3px black;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: #5a5a5a;
    }
    #left {
        font-size: 50px;
    }
    #right {
        display: flex;
        justify-content: space-between;
        width: 270px;
        font-size: 40px;
    }

    @media screen and (max-width: 500px) {
        #left {
            font-size: 35px;
        }
        #right {
            font-size: 30px;
            width: 185px;
        }
    }
    
</style>
