---

---

<div id="header">
    <div id="left">
        <a href="/">Govind</a>
    </div>
    <div id="right">
        <a href="/contact">Contact</a>
        <a href="/projects">Projects</a>
    </div>
</div>

<style>
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 11px;
        font-family: "Oswald";
        background-image: repeating-linear-gradient(
            90deg,
            #000000,
            #000000 10px,
            transparent 10px,
            transparent 20px,
            #000000 20px
        );
        background-size: 100% 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: #5a5a5a;
    }
    #left {
        font-size: 50px;
    }
    #right {
        display: flex;
        justify-content: space-between;
        width: 260px;
        font-size: 40px;
    }

    @media screen and (max-width: 500px) {
        #left {
            font-size: 35px;
        }
        #right {
            font-size: 27px;
            width: 165px;
        }
    }
</style>
